<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPG4OutlookLib.Properties.messages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GPG4Outlook.messages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPG4OutlookLib.Properties.messages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="GPG4Outlook.Properties.messages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GPG4OutlookLib.Properties.messages>
            <setting name="timeOutError" serializeAs="String">
                <value>A time out event occurred while executing the GPG program.	</value>
            </setting>
        </GPG4OutlookLib.Properties.messages>
        <GPG4Outlook.messages>
            <setting name="pathError" serializeAs="String">
                <value>Please provide a valid gpg.exe path.</value>
            </setting>
        </GPG4Outlook.messages>
    </userSettings>
    <applicationSettings>
        <GPG4OutlookLib.Properties.messages>
            <setting name="pathError" serializeAs="String">
                <value>Please provide a valid gpg.exe path.</value>
            </setting>
            <setting name="recipientError" serializeAs="String">
                <value>Recipient is required before encrypting data.</value>
            </setting>
            <setting name="pathExeError" serializeAs="String">
                <value>Unable to find gpg.exe. Please verify the GPG4Win installation and windows path settings.</value>
            </setting>
        </GPG4OutlookLib.Properties.messages>
        <GPG4Outlook.Properties.messages>
            <setting name="pathError" serializeAs="String">
                <value>Please provide a valid gpg.exe path.</value>
            </setting>
        </GPG4Outlook.Properties.messages>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
