<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookGpg2010.Properties.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OutlookGpg2010.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookGpg2010.Properties.userSettings>
            <setting name="AlwaysSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDecryptPopUp" serializeAs="String">
                <value>False</value>
            </setting>
        </OutlookGpg2010.Properties.userSettings>
        <OutlookGpg2010.Properties.Settings>
            <setting name="GPGPath" serializeAs="String">
                <value>C:\Program Files (x86)\GNU\GnuPG\pub\gpg.exe</value>
            </setting>
            <setting name="AlwaysSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysVerify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
        </OutlookGpg2010.Properties.Settings>
    </userSettings>
</configuration>